Repository furlupe/twomenonebank: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, build-auth, build-credit, build-transactions-gateway, build-monitoring

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  IMAGE_NAME: happypiece/twomenonebank
  CORE_TAG: core
  AUTH_TAG: auth
  CREDIT_TAG: credit
  TRANSACTIONS_GATEWAY_TAG: transactions-gateway
  MONITORING_TAG: monitoring

.build:
  tags:
    - build
    - docker
  stage: build
  image: docker:25.0
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  services:
    - name: docker:25.0-dind
      command: ["--tls=false"]
  before_script:
    - docker info
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
  after_script:
    - echo 'Initiating cleanup...'
    - docker system prune -f
    - docker logout
    - echo 'Cleanup completed.'

build-core:
  extends: .build
  rules:
    - if: $CI_COMMIT_REF_NAME == "develop"
      changes:
        - Libraries/**/*
        - svc_Core/**/*
    - when: manual
      allow_failure: true
  script:
    - echo 'Building Core service...'
    - docker build . --rm -f svc_Core/Core.dockerfile -t $IMAGE_NAME:$CORE_TAG
    - echo 'Builds completed, pushing to registry...'
    - docker push $IMAGE_NAME:$CORE_TAG
    - echo 'Build completed.'

build-auth:
  extends: .build
  rules:
    - if: $CI_COMMIT_REF_NAME == "develop"
      changes:
        - Libraries/**/*
        - svc_Auth/**/*
    - when: manual
      allow_failure: true
  script:
    - echo 'Building Auth service...'
    - docker build . --rm -f svc_Auth/Auth.dockerfile -t $IMAGE_NAME:$AUTH_TAG
    - echo 'Builds completed, pushing to registry...'
    - docker push $IMAGE_NAME:$AUTH_TAG
    - echo 'Build completed.'

build-credit:
  extends: .build
  rules:
    - if: $CI_COMMIT_REF_NAME == "develop"
      changes:
        - Libraries/**/*
        - svc_Credit/**/*
    - when: manual
      allow_failure: true
  script:
    - echo 'Building Credit service...'
    - docker build . --rm -f svc_Credit/Credit.dockerfile -t $IMAGE_NAME:$CREDIT_TAG
    - echo 'Builds completed, pushing to registry...'
    - docker push $IMAGE_NAME:$CREDIT_TAG
    - echo 'Build completed.'

build-transactions-gateway:
  extends: .build
  rules:
    - if: $CI_COMMIT_REF_NAME == "develop"
      changes:
        - Libraries/**/*
        - svc_TransactionsGateway/**/*
    - when: manual
      allow_failure: true
  script:
    - echo 'Building TransactionsGateway service...'
    - docker build . --rm -f svc_TransactionsGateway/TransactionsGateway.dockerfile -t $IMAGE_NAME:$TRANSACTIONS_GATEWAY_TAG
    - echo 'Builds completed, pushing to registry...'
    - docker push $IMAGE_NAME:$TRANSACTIONS_GATEWAY_TAG
    - echo 'Build completed.'

build-monitoring:
  extends: .build
  rules:
    - if: $CI_COMMIT_REF_NAME == "develop"
      changes:
        - Libraries/**/*
        - svc_Monitoring/**/*
    - when: manual
      allow_failure: true
  script:
    - echo 'Building Monitoring service...'
    - docker build . --rm -f svc_Monitoring/Monitoring.dockerfile -t $IMAGE_NAME:$MONITORING_TAG
    - echo 'Builds completed, pushing to registry...'
    - docker push $IMAGE_NAME:$MONITORING_TAG
    - echo 'Build completed.'

deploy:
  tags:
    - deploy
    - shell
  stage: deploy
  rules:
    - if: $CI_COMMIT_REF_NAME == "develop"
      when: on_success
    - when: manual
  before_script:
    - docker info
  script:
    - echo 'Deploying services...'
    - docker compose pull
    - docker compose stop
    - docker compose create
    - docker cp $CORE_APPSETTINGS twomenonebank-core-app:/app/appsettings.Local.json
    - docker cp $AUTH_APPSETTINGS twomenonebank-auth-app:/app/appsettings.Local.json
    - docker cp $CREDIT_APPSETTINGS twomenonebank-credit-app:/app/appsettings.Local.json
    - docker cp $TRANSACTIONS_GATEWAY_APPSETTINGS twomenonebank-transactions-gateway-app:/app/appsettings.Local.json
    - docker cp $MONITORING_APPSETTINGS twomenonebank-monitoring-app:/app/appsettings.Local.json
    - docker compose start
    - echo 'Deploy completed.'
  after_script:
    - echo 'Initiating cleanup...'
    - docker system prune -f
    - echo 'Cleanup completed.'

ci: add kibana
  docker-compose.yml
  kibana-config.yml
  svc_Monitoring/docker-compose.yml
Due: build-monitoring

Add retries and circuit breaker
  Libraries/Bank.Auth.Http/AuthClient/RegisterAuthClientExtension.cs
  Libraries/Bank.Auth.Http/Bank.Auth.Http.csproj
  Libraries/Bank.Auth.Http/TokenClient/RegisterTokenClientExtension.cs
  Libraries/Bank.Common/Bank.Common.csproj
  Libraries/Bank.Common/Extensions/ConfigurationExtensions.cs
  Libraries/Bank.Common/Extensions/HttpContextExtentions.cs
  Libraries/Bank.Common/Extensions/ResilienceExtensions.cs
  Libraries/Bank.Common/FeaturesOptions.cs
  Libraries/Bank.Core.Http/Client/RegisterCoreClientExtension.cs
  Libraries/Bank.TransactionsGateway.Http/Client/RegisterTransactionsClientExtension.cs
  svc_Core/Bank.Core.App/Bank.Core.App.csproj
  svc_Core/Bank.Core.App/Controllers/TestController.cs
  svc_Core/Bank.Core.App/Program.cs
  svc_Core/Bank.Core.App/Properties/launchSettings.json
  svc_Core/Bank.Core.App/Setup/ApplicationServicesSetup.cs
  svc_Core/Bank.Core.App/Setup/FrontlineServicesSetup.cs
  svc_Core/Bank.Core.App/appsettings.Development.json
  svc_Core/svc_Core.sln
  svc_TransactionsGateway/Bank.TransactionsGateway.App/Bank.TransactionsGateway.App.csproj
  svc_TransactionsGateway/Bank.TransactionsGateway.App/Properties/launchSettings.json
  svc_TransactionsGateway/Bank.TransactionsGateway.App/Setup/ApplicationServicesSetup.cs
  svc_TransactionsGateway/Bank.TransactionsGateway.App/Setup/FrontlineServicesSetup.cs
  svc_TransactionsGateway/Bank.TransactionsGateway.App/appsettings.Development.json
  svc_TransactionsGateway/svc_TransactionsGateway.sln
Due: build-core, build-auth, build-credit, build-transactions-gateway, build-monitoring

fix: web sockets works-works :))
  client_Customer/app/src/main/java/com/example/customerclient/data/api/dto/AccountEventDto.kt
  client_Customer/app/src/main/java/com/example/customerclient/data/repository/BillRepositoryImpl.kt
  client_Customer/app/src/main/java/com/example/customerclient/data/websocket/BillHistoryWebSocket.kt
  client_Customer/app/src/main/java/com/example/customerclient/domain/repositories/BillRepository.kt
  client_Customer/app/src/main/java/com/example/customerclient/ui/bill/info/BillInfoFragment.kt
  client_Customer/app/src/main/java/com/example/customerclient/ui/bill/info/BillInfoViewModel.kt
  client_Customer/app/src/main/java/com/example/customerclient/ui/bill/info/components/BillsHistoryRecyclerAdapter.kt
Due: none

Feature/firebase notifications
  .gitlab-ci.yml
  Libraries/Bank.Common/FeaturesOptions.cs
  Libraries/Bank.Notifications.Http/Bank.Notifications.Http.csproj
  Libraries/Bank.Notifications.Http/Client/NotificationsClient.cs
  Libraries/Bank.Notifications.Http/Client/NotificationsClientExtensions.cs
  Libraries/Bank.Notifications.Http/Client/NotificationsClientOptions.cs
  Libraries/Libraries.sln
  docker-compose.yml
  svc_Notifications/.gitignore
  svc_Notifications/Bank.Notifications.App/Bank.Notifications.App.csproj
  svc_Notifications/Bank.Notifications.App/Bank.Notifications.App.http
  svc_Notifications/Bank.Notifications.App/Controllers/NotificationController.cs
  svc_Notifications/Bank.Notifications.App/Controllers/UserController.cs
  svc_Notifications/Bank.Notifications.App/Controllers/VersionController.cs
  svc_Notifications/Bank.Notifications.App/Dto/UserDto.cs
  svc_Notifications/Bank.Notifications.App/Options/FirebaseOptions.cs
  svc_Notifications/Bank.Notifications.App/Program.cs
  svc_Notifications/Bank.Notifications.App/Properties/launchSettings.json
  svc_Notifications/Bank.Notifications.App/Services/BankNotificationService.cs
  svc_Notifications/Bank.Notifications.App/Setup/SetupNotifications.cs
  svc_Notifications/Bank.Notifications.App/Utils/Topics.cs
  svc_Notifications/Bank.Notifications.App/appsettings.Development.json
  svc_Notifications/Bank.Notifications.App/appsettings.json
  svc_Notifications/Bank.Notifications.Domain/Bank.Notifications.Domain.csproj
  svc_Notifications/Bank.Notifications.Domain/User.cs
  svc_Notifications/Bank.Notifications.Persistence/Bank.Notifications.Persistence.csproj
  svc_Notifications/Bank.Notifications.Persistence/BankNotificationsDbContext.cs
  svc_Notifications/Bank.Notifications.Persistence/Extensions/DbConnection.cs
  svc_Notifications/Bank.Notifications.Persistence/Extensions/PersistenceExtensions.cs
  svc_Notifications/Bank.Notifications.Persistence/Migrations/20240427102844_Initial.Designer.cs
  svc_Notifications/Bank.Notifications.Persistence/Migrations/20240427102844_Initial.cs
  svc_Notifications/Bank.Notifications.Persistence/Migrations/BankNotificationsDbContextModelSnapshot.cs
  svc_Notifications/Notifications.dockerfile
  svc_Notifications/Notifications.dockerfile.dockerignore
  svc_Notifications/docker-compose.yml
  svc_Notifications/svc_Notifications.sln
Due: build-core, build-auth, build-credit, build-transactions-gateway, build-monitoring

Add transactions idempotence
  Libraries/Bank.Auth.Common/Options/AuthOptions.cs
  Libraries/Bank.Auth.Http/AccessTokenDto.cs
  Libraries/Bank.Common/Http/IdempotenceHeader.cs
  Libraries/Bank.Common/Money/Source/CurrencyConversionRatesSource.cs
  Libraries/Bank.Common/Money/Source/CurrencyConversionRatesSourceConfiguration.cs
  Libraries/Bank.Core.Common/Transaction.cs
  Libraries/Bank.Core.Http/Dto/AccountCreateDto.cs
  Libraries/Bank.Core.Http/Dto/AccountDto.cs
  Libraries/Bank.Core.Http/Dto/Events/AccountEventDto.cs
  Libraries/Bank.Core.Http/Dto/Events/BalanceChangeDto.cs
  Libraries/Bank.Core.Http/Dto/Events/TransferDto.cs
  Libraries/Bank.TransactionsGateway.Http/TransactionDto.cs
  svc_Core/Bank.Core.App/Services/TransactionsFactory.cs
  svc_Core/Bank.Core.App/Services/TransactionsService.cs
  svc_Core/Bank.Core.Domain/Account.cs
  svc_Core/Bank.Core.Domain/Events/AccountEvent.cs
  svc_Core/Bank.Core.Domain/Events/BalanceChange.cs
  svc_Core/Bank.Core.Domain/Events/DomainEvent.cs
  svc_Core/Bank.Core.Domain/Events/Transfer.cs
  svc_Core/Bank.Core.Domain/Transactions/BalanceChange.cs
  svc_Core/Bank.Core.Domain/Transactions/CreditTransfer.cs
  svc_Core/Bank.Core.Domain/Transactions/Deposit.cs
  svc_Core/Bank.Core.Domain/Transactions/Transaction.cs
  svc_Core/Bank.Core.Domain/Transactions/Transfer.cs
  svc_Core/Bank.Core.Domain/Transactions/Withdrawal.cs
  svc_Core/Bank.Core.Persistence/Configuration.cs
  svc_Core/Bank.Core.Persistence/Migrations/20240429062105_AddTransactionsIdempotence.Designer.cs
  svc_Core/Bank.Core.Persistence/Migrations/20240429062105_AddTransactionsIdempotence.cs
  svc_TransactionsGateway/Bank.TransactionsGateway.App/Controllers/CreditTransactionsController.cs
  svc_TransactionsGateway/Bank.TransactionsGateway.App/Controllers/TestController.cs
  svc_TransactionsGateway/Bank.TransactionsGateway.App/Controllers/TransactionsController.cs
Due: build-core, build-auth, build-credit, build-transactions-gateway, build-monitoring

chore: apply 500errors & tracing to the rest of the services
  svc_Auth/Bank.Auth.App/Program.cs
  svc_Credit/Bank.Credit.App/Bank.Credit.App.csproj
  svc_Credit/Bank.Credit.App/Program.cs
  svc_Credit/svc_Credit.sln
  svc_Monitoring/.gitignore
  svc_Monitoring/Bank.Monitoring.App/Program.cs
  svc_Monitoring/Bank.Monitoring.App/appsettings.Local.json
Due: build-auth, build-credit, build-monitoring

Feature/idempotency furlupe stuff
  Libraries/Bank.Common/Extensions/WebApplicationExtensions.cs
  Libraries/Bank.Common/Middlewares/Conditional500Error/Conditional500ErrorMiddlewareExtensions.cs
  Libraries/Bank.Idempotency/ActionDescriptor.cs
  Libraries/Bank.Idempotency/Bank.Idempotency.csproj
  Libraries/Bank.Idempotency/Extensions/Swagger/IdempotencyHeaderFilter.cs
  Libraries/Bank.Idempotency/Extensions/Swagger/SwaggerExtensions.cs
  Libraries/Bank.Idempotency/IActionService.cs
  Libraries/Bank.Idempotency/IdempotencyConstants.cs
  Libraries/Bank.Idempotency/Middlewares/IdempotencyEnforcingMiddleware.cs
  Libraries/Bank.Idempotency/Middlewares/IdempotencyEnforcingMiddlewareExtensions.cs
  Libraries/Libraries.sln
  svc_Auth/Bank.Auth.App/Bank.Auth.App.csproj
  svc_Auth/Bank.Auth.App/Program.cs
  svc_Auth/Bank.Auth.App/Setup/Seeders/OpenIdClientsSeeder.cs
  svc_Auth/Bank.Auth.App/Utils/IdempotentActionService.cs
  svc_Auth/Bank.Auth.Domain/Bank.Auth.Domain.csproj
  svc_Auth/Bank.Auth.Domain/DbContext.cs
  svc_Auth/Bank.Auth.Domain/Migrations/20240504104136_AddIdempotence.Designer.cs
  svc_Auth/Bank.Auth.Domain/Migrations/20240504104136_AddIdempotence.cs
  svc_Auth/svc_Auth.sln
  svc_Credit/Bank.Credit.App/BackgroundTasks/CreditBackroundService.cs
  svc_Credit/Bank.Credit.App/BackgroundTasks/CreditRatingBackgroundService.cs
  svc_Credit/Bank.Credit.App/Bank.Credit.App.csproj
  svc_Credit/Bank.Credit.App/Program.cs
  svc_Credit/Bank.Credit.App/Services/AuthHandlerUserService.cs
  svc_Credit/Bank.Credit.App/Services/CreditService.cs
  svc_Credit/Bank.Credit.App/Services/IdempotentActionService.cs
  svc_Credit/Bank.Credit.Domain/Credit/Credit.cs
  svc_Credit/Bank.Credit.Persistance/Bank.Credit.Persistance.csproj
  svc_Credit/Bank.Credit.Persistance/BankCreditDbContext.cs
  svc_Credit/Bank.Credit.Persistance/Migrations/20240331123649_AddWithdrawAccountToCredit.cs
  svc_Credit/Bank.Credit.Persistance/Migrations/20240504104752_AddIdempotence.Designer.cs
  svc_Credit/Bank.Credit.Persistance/Migrations/20240504104752_AddIdempotence.cs
  svc_Credit/svc_Credit.sln
Due: build-core, build-auth, build-credit, build-transactions-gateway, build-monitoring

feat: disable idempotency for authorization stuff
  Libraries/Bank.Idempotency/Middlewares/IdempotencyEnforcingMiddlewareExtensions.cs
  svc_Auth/Bank.Auth.App/Program.cs
Due: build-core, build-auth, build-credit, build-transactions-gateway, build-monitoring

chore: add idempotenceKey header for bff
  bff_Employee/src/common/store_provider.ts
  bff_Employee/src/dto/credit_rate_dto.ts
  bff_Employee/src/dto/is_dark_theme_dto.ts
  bff_Employee/src/dto/user_info_dto.ts
  bff_Employee/src/dto/user_info_with_rating_dto.ts
  bff_Employee/src/index.ts
  bff_Employee/src/network/axios_provider.ts
Due: none

Enable transactions notifications
  svc_Core/Bank.Core.App/Bank.Core.App.csproj
  svc_Core/Bank.Core.App/Services/TransactionsService.cs
  svc_Core/Bank.Core.App/Setup/ApplicationServicesSetup.cs
  svc_Core/Bank.Core.Domain/Events/TransactionEvent.cs
  svc_Core/svc_Core.sln
  svc_Notifications/Bank.Notifications.App/Properties/launchSettings.json
Due: build-core

Missed files + google-services.json
  client_Employee/app/build.gradle.kts
  client_Employee/app/google-services.json
  client_Employee/build.gradle.kts
Due: none

Added notifications
  client_Employee/app/build.gradle.kts
  client_Employee/app/src/main/AndroidManifest.xml
  client_Employee/app/src/main/java/com/example/employeeclient/MyApplication.kt
  client_Employee/app/src/main/java/com/example/employeeclient/PushNotificationService.kt
  client_Employee/app/src/main/java/com/example/employeeclient/common/Constants.kt
  client_Employee/app/src/main/java/com/example/employeeclient/presentation/auth/AuthActivity.kt
  client_Employee/app/src/main/res/drawable/baseline_circle_notifications_24.xml
  client_Employee/app/src/main/res/values/strings.xml
  client_Employee/gradle/libs.versions.toml
Due: none

Added notifications
  bff_Employee/employee-5e226-firebase-adminsdk-s5m5g-bc1abe242b.json
  bff_Employee/package-lock.json
  bff_Employee/package.json
  bff_Employee/src/index.ts
  client_Employee/app/src/main/java/com/example/employeeclient/MyApplication.kt
  client_Employee/app/src/main/java/com/example/employeeclient/presentation/auth/AuthActivity.kt
Due: none

chore: add idempotency header to swagger
  svc_Core/Bank.Core.App/Setup/FrontlineServicesSetup.cs
  svc_TransactionsGateway/Bank.TransactionsGateway.App/Bank.TransactionsGateway.App.csproj
  svc_TransactionsGateway/Bank.TransactionsGateway.App/Setup/FrontlineServicesSetup.cs
  svc_TransactionsGateway/svc_TransactionsGateway.sln
Due: build-core, build-transactions-gateway

chore: add missing files to prev commit
  svc_Core/Bank.Core.App/Bank.Core.App.csproj
  svc_Core/svc_Core.sln
Due: build-core

Added header for idempotence key
  client_Employee/app/src/main/java/com/example/employeeclient/MyApplication.kt
  client_Employee/app/src/main/java/com/example/employeeclient/common/Constants.kt
  client_Employee/app/src/main/java/com/example/employeeclient/data/remote/network/Interceptor.kt
Due: none

feature: add firebase
  client_Customer/app/build.gradle.kts
  client_Customer/app/src/main/AndroidManifest.xml
  client_Customer/app/src/main/java/com/example/customerclient/App.kt
  client_Customer/app/src/main/java/com/example/customerclient/PushNotificationService.kt
  client_Customer/app/src/main/java/com/example/customerclient/common/Constants.kt
  client_Customer/app/src/main/java/com/example/customerclient/data/AccessInterceptor.kt
  client_Customer/app/src/main/java/com/example/customerclient/data/api/dto/UserTokenDto.kt
  client_Customer/app/src/main/java/com/example/customerclient/data/api/notification/UserTokenApi.kt
  client_Customer/app/src/main/java/com/example/customerclient/data/repository/SharedPreferencesRepositoryImpl.kt
  client_Customer/app/src/main/java/com/example/customerclient/data/repository/UserTokenRepositoryImpl.kt
  client_Customer/app/src/main/java/com/example/customerclient/data/storage/SharedPreferencesStorage.kt
  client_Customer/app/src/main/java/com/example/customerclient/data/storage/UserStorage.kt
  client_Customer/app/src/main/java/com/example/customerclient/di/AppModule.kt
  client_Customer/app/src/main/java/com/example/customerclient/di/UseCaseModule.kt
  client_Customer/app/src/main/java/com/example/customerclient/di/ViewModelModule.kt
  client_Customer/app/src/main/java/com/example/customerclient/domain/repositories/UserTokenRepository.kt
  client_Customer/app/src/main/java/com/example/customerclient/domain/usecases/notification/SaveUserTokenUseCase.kt
  client_Customer/app/src/main/java/com/example/customerclient/domain/usecases/notification/SubscribeToNotificationsUseCase.kt
  client_Customer/app/src/main/java/com/example/customerclient/ui/MainActivity.kt
  client_Customer/app/src/main/java/com/example/customerclient/ui/MainViewModel.kt
  client_Customer/app/src/main/res/drawable/baseline_circle_notifications_24.xml
  client_Customer/app/src/main/res/values/strings.xml
  client_Customer/build.gradle.kts
Due: none

Merge feature/firebase into develop
  bff_Employee/employee-5e226-firebase-adminsdk-s5m5g-bc1abe242b.json
  bff_Employee/package-lock.json
  bff_Employee/package.json
  bff_Employee/src/dto/is_dark_theme_dto.ts
  bff_Employee/src/dto/user_info_dto.ts
  bff_Employee/src/dto/user_info_with_rating_dto.ts
  bff_Employee/src/index.ts
  client_Employee/app/build.gradle.kts
  client_Employee/app/google-services.json
  client_Employee/app/src/main/AndroidManifest.xml
  client_Employee/app/src/main/java/com/example/employeeclient/MyApplication.kt
  client_Employee/app/src/main/java/com/example/employeeclient/PushNotificationService.kt
  client_Employee/app/src/main/java/com/example/employeeclient/common/Constants.kt
  client_Employee/app/src/main/java/com/example/employeeclient/data/remote/network/Interceptor.kt
  client_Employee/app/src/main/java/com/example/employeeclient/presentation/auth/AuthActivity.kt
  client_Employee/app/src/main/res/drawable/baseline_circle_notifications_24.xml
  client_Employee/app/src/main/res/values/strings.xml
  client_Employee/build.gradle.kts
  client_Employee/gradle/libs.versions.toml
Due: none
